tsDocs/* linguist-vendored
docs/* linguist-vendored
dist/* linguist-vendored
testBot/* linguist-vendored
config/* linguist-vendored
.vscode/* linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
