# Others
node_modules
testBot/.env
testBot/node_modules
testBot/package-lock.json
testBot/yarn.lock
testBot/bun.lockdb
testBot/src
testBot/package-lock.json
.vscode
bun.lockb
yarn.lock
package-lock.json
dist
