name: Publish Any Commit
on: [push, pull_request]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.27

# build happens automatically because of prepare script in package.json
      - name: Install dependencies and build
        run: bun install --no-frozen-lockfile --save-dev pkg-pr-new

      - name: Publish
        run: bun --yes pkg-pr-new publish
